:root{
    --body-bg: #060606;
    --text-color:#fff;
    --backgound-image: url('/img/light.png');
    transition: 0.5s;
    --background-ui-color: #1a1a1a;
  }
.light_mode{
    --body-bg: #fff;
    --text-color: #000;
    --backgound-image: url('/img/dark.png');
    transition: 0.5s;
    --background-ui-color: #ececec;
}


html, body{
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    transition: 1s;
}

.navbarScroll.navbarDark {
    background: #060606;
    color: white;
   
}

.navbar{
    background-color: #060606;
}
.navbar-brand{
    color: white;
}

.nav-link{
    color: white;
    margin-left: 15px;
}

.bgimage{
    height:100vh;
    background-image: url('img/background.png');
    background-size:cover;
    position:relative;
}

.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
}

.imageAboutPage{
    width: 90%;
    margin-top: 0;
}

.about-title{
    padding-top: 60px;
    color: var(--text-color);
}

.theme_toggler{
    cursor: pointer;
    margin-top: 3px;
    width: 25px;
    height: 25px;
    background-image: var(--backgound-image);
    background-position: top center;
    background-size: cover;
    margin-left: 15px; 
    transition: 0.5s;
}

.text{
    color: var(--text-color);
}

.infos{
    margin-top: 20px;
    color: var(--text-color);
}

.skills-container{
    margin: 0 auto;
    margin-top: 70px;
    max-width: 70rem;
    padding: 15px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(43, 43, 43, 0.825);
    border-radius: 12px;
    border: 1px solid rgba(71, 71, 71, 0.397);
}
.skillicon{
    width: 70%;
    color: white;
    margin: 0 10px;
}

.projects-title{
    margin-top: 30px;
    margin-bottom: 15px;
    color: var(--text-color);
}

.projects-carousel{
    margin: 0 auto;
    max-width: 50rem;
    color: black;
}

.carousel-control-prev-icon, .carousel-control-next-icon, .carousel-indicators{
    filter: invert(40%);
}

.projectLink{
    color: white;
    text-decoration: none;
}

.project-link-container{
    display: flex;
}

.projectLinkDark{
    color: white;
    text-decoration: none;
    width: 50%;
}

.contact-container{
    padding: 15px;
}

.contact-title{
    margin-top: 70px;
    margin-bottom: 15px;
    color: var(--text-color);
}

.contact-form{
    border-radius: 50px;
    padding: 25px;
    box-shadow:  8px 8px 16px var(--background-ui-color),
             -8px -8px 16px var(--background-ui-color);
    background-color: var(--background-ui-color);
    transition: 0.5s;
    color: var(--text-color);
}

.btn-contact{
    margin-top: 5%;
    margin-bottom: 20px;
}

.send-email{
    text-decoration: none;
    color: black
}

.contact-connect{
    margin-top: 10%;
}

.social-media-logo{
    width: 30px;
    height: 30px;
    margin-right: 7px;
}

.social-media-logo:hover{
    filter: brightness(150%);
    transition: 1s;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
.reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

.text-footer{
    color: #c2c2c2;
    padding-bottom: 15px;
}
